<p id="notice"><%= notice %></p>

<p>
  <strong>Temperature:</strong>
  <%= @point.temperature %>
</p>

<p>
  <strong>Pm25:</strong>
  <%= @point.pm25 %>
</p>

<p>
  <strong>Light:</strong>
  <%= @point.light %>
</p>

<p>
  <strong>Analog:</strong>
  <%= @point.analog %>
</p>

<p>
  <strong>Digital:</strong>
  <%= @point.digital %>
</p>

<p>
  <strong>Group:</strong>
  <%= @point.group %>
</p>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
